body {
	font-family: Inter;
	background-color: #131415;
	color: #fff;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 36px;
}

form {
	display: flex;

}

canvas {
	width: 500px;
	height: 600px;
}

/* .button {

} */