html {
	font-family: Inter;
	color: #fff;
	text-align: center;
	background-image: linear-gradient(135deg, #ff0066, #fd7e7e);
}

a {
	text-decoration: none;
	color: #fff;
}

h1 {
	font-family: syne; 
	font-weight: 700;
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

form {
	display: flex;

}

canvas {
	background-color: #fff;
	border-radius: 0.4cm;
}

input {
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	width: 500px;
	height: 100px;
}

::placeholder {
	color: white;
	opacity: 1; /* Firefox */
	text-align: center;
  }

.prompt_box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 0.2cm;
	margin-top: 30px;
	margin-bottom: 25px;
	font-family: sans-serif;
}

.container_right {
	box-sizing: border-box;
	background: #FFD9D9;
	border: 1px solid #000000;
	border-radius: 10px;
	position: absolute;
	right: 400px;
	bottom: 450px;
	width: 170px;
	height: 200px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.collapsible {
	background-color: transparent;
	color: white;
	margin-top: 5px;
	border: 5px solid white;
	border-radius: 0.5cm;
	cursor: pointer;
	padding: 18px;
	text-align: center;
	outline: none;
	font-size: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.active,
.collapsible:hover {
	background-color: transparent;
	border: 5px solid white;

	/* border: white; */
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.gradient-button {
	align-items: center;
	/* background: linear-gradient(135deg, #2F80ED 0%, #B2FFDA 100%); */
	background: #cd3245;
	border-radius: 30px;
	padding: 10px 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 13%;
	height: 10%;
}


.root-margin {
	padding: 60px;
	padding-top: 40px;
	/* width: 100%; */
	height: 100%;


}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	flex: 50%;
}

.column-60 {
	flex: 60%;
}

.column-40 {
	flex: 40%;
}

.image-preview {
	background-color: #fff;
	position: relative;
	width: 512px;
	height: 512px;
}

.tool-selection {
	display: flex;
	flex-direction: row;

}

.tool-circle {
	height: 12px;
	width: 12px;
	border: 1px solid black;
	border-radius: 0.1cm;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
	vertical-align: middle;
	margin-top: 12px;
	margin-left: 7px;

}

.eraser {
	width: 30px;
	
}

.clear {
	color: black;
	font-weight: 500;
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.w3-grey {
  animation: progressbar 5s linear infinite;
}
@keyframes progressbar {
  0% { width: 0%; }
  100% { width: 100%; }
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */