<!DOCTYPE html>
<html>
<head>
<title>INSERT_NAME</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!-- TODO -->
<!-- 1. Input box  -->
<!-- Advanced Options (slider) -->

<body onload="init()">
	

	<div class="root-margin">
		<h1>Draw something and we make it better</h1>
		<div class="row">
			<div style="flex: 70%">
					<canvas id="can" width="600" height="600"></canvas>
					<div id="tool-selection">
						<div class="tool-circle" style="background:red;" id="red" onclick="color(this)"></div>
						<div class="tool-circle" style="background:orange;" id="orange" onclick="color(this)"></div>
						<div class="tool-circle" style="background:yellow;" id="yellow" onclick="color(this)"></div>
						<div class="tool-circle" style="background:green; " id="green" onclick="color(this)"></div>
						<div class="tool-circle" style="background:blue;" id="blue" onclick="color(this)"></div>
						<div class="tool-circle" style="background:black;" id="black" onclick="color(this)"></div>
						<div class="tool-circle" style="position:absolute;top:20%;left:43%;">Eraser</div>
					</div>
			</div>
			
			<div style="flex: 30%">
				<form>
					<input type="text" id="prompt_box" name="prompt_box" placeholder="Description">
				</form>
				
				<button class="collapsible">Advanced Options</button>
				<div class="content">
					<div class="slidecontainer">
						<p>Strength</p>
						<input type="range" min="0" max="1" value="0.7" id="strength", step="0.1">
						
						<p>Guidance Sacle</p>
						<input type="range" min="7" max="9" value="7.5" class="slider" id="guidance_scale">
					</div>
				</div>
				<script>
					var coll = document.getElementsByClassName("collapsible");
					var i;

					for (i = 0; i < coll.length; i++) {
						coll[i].addEventListener("click", function() {
							this.classList.toggle("active");
							var content = this.nextElementSibling;
							if (content.style.maxHeight){
							content.style.maxHeight = null;
							} else {
							content.style.maxHeight = content.scrollHeight + "px";
							}
						});
					}
				</script>
				<!-- Advanced options (sliders) -->
				<a href="#" onclick="save();">
					<div class="gradient-button">
						<h2 style="margin-bottom: 10px">Generate</h2>
						<h2 style="margin-top: 0">Picture!</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal.. but it doesn't seem to work</p>
  </div>

</div>

</body>

<!-- <body onload="init()">
	<canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
	<div style="position:absolute;top:22%;left:45%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
	<img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
	<input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:55%;left:15%;">
</body> -->
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</html>
