<!DOCTYPE html>
<html>

<head>
<title>INSERT_NAME</title>
<!-- TODO 1: CHANGE THIS TO a relative path!!! -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!-- TODO -->
<!-- 1. Input box  -->
<!-- Advanced Options (slider) -->

<body onload="init()">

	<div class="root-margin">
		<div>
			<h1 style="margin-bottom: 0">Sketch something</h1>
			<h1 style="margin-top: 0; margin-bottom: 0">We make it better :D</h1>
			<p>Draw something on the canvas and our AI makes it into art</p>
		</div>
		<div class="row">
			<div style="flex: 100%">
				<canvas id="can" width="600" height="600"></canvas>
				<div class="container_right" id="tool-selection">
					<div class="tool-circle" style="background:pink;" id="pink" onclick="color(this)"></div>
					<div class="tool-circle" style="background:red;" id="red" onclick="color(this)"></div>
					<div class="tool-circle" style="background:orange;" id="orange" onclick="color(this)"></div>
					<div class="tool-circle" style="background:yellow;" id="yellow" onclick="color(this)"></div>
					<div class="tool-circle" style="background: lightgreen;" id="lightgreen" onclick="color(this)"></div>
					<div class="tool-circle" style="background:green; " id="green" onclick="color(this)"></div>
					<div class="tool-circle" style="background: skyblue;" id="skyblue" onclick="color(this)"></div>
					<div class="tool-circle" style="background:blue;" id="blue" onclick="color(this)"></div>
					<div class="tool-circle" style="background: purple;" id="purple" onclick="color(this)"></div>
					<div class="tool-circle" style="background: gray;" id="gray" onclick="color(this)"></div>
					<div class="tool-circle" style="background:black;" id="black" onclick="color(this)"></div>
					<!-- TODO 3: Change to Relative path -->
					<img id="white" class="tool-circle " onclick="color(this)" src="{{ url_for('static', filename='eraser.png') }}">
					<p id="clear" class="clear">Clear</p>

				</div>
				<!-- User Prompt input box -->
				<form>
					<input type="text" class="prompt_box" id="prompt_box" name="prompt_box" placeholder="Describe what you want to make (Optional)">
				</form>
				<a href="#" onclick="save();">
					<div class="gradient-button">
						<h3>Generate Image</h3>
					</div>

				</a>
				<!-- <div class="w3-light-grey" style="display: none;">
					<div class="w3-grey" style="height:24px;width:50%"></div>
				</div> -->
				<!-- <button class="collapsible">Advanced Options</button>
				<div class="content">
					<div class="slidecontainer">
						<p>Strength</p>
						<input type="range" min="0" max="1" value="0.7" id="strength", step="0.1">
						
						<p>Guidance Sacle</p>
						<input type="range" min="7" max="9" value="7.5" class="slider" id="guidance_scale">
					</div>
				</div> -->
				<!-- Advanced options (sliders) -->
				<!-- <a href="#" onclick="save();">
					<div class="gradient-button">
						<h2 style="margin-bottom: 10px">Generate</h2>
						<h2 style="margin-top: 0">Picture!</h2>
					</div>
				</a> -->
			</div>


		</div>
	</div>
	<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
		<img src="{{url_for('static', filename='generated.png')}}">
    <span class="close">&times;</span>
  </div>

</div>

</body>

<!-- <body onload="init()">
	<canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
	<div style="position:absolute;top:22%;left:45%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
	<img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
	<input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:55%;left:15%;">
</body> -->

<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</html>
